*{padding:0;
    margin:0;
    box-sizing: border-box;}

html{
    width: 100%;
    height: 100%;}

body{
    height: 100%;
    max-width: 100%;
    /*width: 100%; */
    background: rgb(2,0,36);
background:#0E3A58
}

/* the image in the home page*/
.image4{  
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(20px 20px 20px #090f44);  
}

img {
    opacity: 1.0;
  }
  
  img:hover {
    opacity: 0.5;
  }

header{
    padding:  5%;
    width: 100%;
}   
  
/* navigarion side bar*/
.menuItem:hover{
    background-color:#0E3A58;
}

.menuItem{
    padding: 1rem;
}

.sideBar{
    width: 30rem;
    height:100%;
       display: flex;
       flex-direction: column; 
       color: white;      
}
/* the word 'Menu' at the top of the sidebar */
.Menu{
    font-size: 4rem;
}

a:link { text-decoration: none; 
color:white}

a:visited { text-decoration: none; 
color: white;}

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

/* the gigantic container which contains both the sidebar as well as the big container.
big container has two small boxes namely, content  1 and content 2 */
.container{
    display:flex;
    flex:1; 
    padding: 2rem;
    height:auto;
 }
 .bigContentBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

.content1{
 justify-content: center;

}

/*audioFiles contains the audio files in music.html*/
.audioFiles{
padding: 0.5%;
margin:2rem;
}

.content2{
justify-content: center;
font-size: 1.5rem;
width: 40rem;
 /*margin-top: 5rem; */
 padding:3rem;
 color: white;
}

/*h1 in the fanClub.html*/
.underConstruction{
    color:white
}

/* h1,h2,h3 in the present.html  */
h1,h2,h3{
    text-align: justify;
    color: white;
}

/* videoFiles contains the CSS styles of content2 section in music.html   */
.videoFiles{
   flex-direction: row;
    font-size: large;  
    flex-wrap: wrap;
    flex-shrink: 1;
    display: flex;
}

/*  the heading of the home page*/ 
.Name{
    color :white;
  font-size: 2rem;
    font-weight: bolder;
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding:  1%;
}

/* text in the home page */ 
.Intro{
    color :white;
    font-weight: bolder;
    font-family: 'Inter', sans-serif;
    /* text-align justifies the text in the flexbox*/
    text-align: justify;
    padding: 10%;
    justify-content: center                             ;
    align-items: center;
}
 

/* song in the home page */ 
.audioButton{
    padding:10%   
}
.audioButton:hover{
    opacity: 0.5;
}
 
footer{
    padding: 5%;
 width: 100%; 
color: white;
height: 10%;
}
 /* the embeded youtube video in present.html*/
 .utubeEmbeded{
    width: 30rem;
    height: 15.05rem;
    margin: 2rem;
   }
 
/* applies to the things in the DESKTOP screen */
@media only screen and (min-width: 50rem) {
     header{
   /*  border-color: black;
        border-style: solid;*/
        width: 100%;  
    }

body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(19,82,110,1) 31%, rgba(0,212,255,1) 100%); 
}

.Name{
    color :black;
}

    .container {
      display: flex 1;
      flex-direction: row;
      width: 95%;
      height: auto;
      padding:1rem;
    }
 

    .sideBar{
        width: 35%;
         height:100%;
            display: flex;
            flex-direction: column;
            color: white;
            font-size: 2rem;
        }
    
    .bigContentBox{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    }

    footer{
        padding: 5%;
    width: 100%;
    height: 10%;
    text-align: center;
    }

    /* h1,h2,h3 in the present.html  */
h1,h2,h3{
    text-align: justify;
    color: black;
}
/* text in the home page */ 
.Intro{
    color :black;
    font-weight: bolder;
    font-family: 'Inter', sans-serif;
    /* text-align justifies the text in the flexbox*/
    text-align: justify;
    padding: 10%;
    justify-content: center                             ;
    align-items: center;
}
}

/* the music videos in music.html */
   .utube{
    width: 24rem;
    height: 12.05rem;
    margin: 0.5rem;
   }

